.ipynb_checkpoints
*/.ipynb_checkpoints/*

/.quarto/
/_manuscript
/_freeze/
/index_files/

# Generated analysis output
data/
*.log

# Environment
.venv/
.direnv/

# Build artifacts
*.egg-info/
__pycache__/
flake.lock
